@{
    ViewBag.Title = "Home";
}
<div class="grid">
    <div class="row">
        <!-- Item 1 -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
            <div class="box-masonry">
                <a href="detail.html" title="" class="box-masonry-image with-hover-overlay"><img src="~/Content/image/About.jpeg" alt="" class="img-responsive"></a>
                <div class="box-masonry-hover-text-header">
                    <h4> <a href="detail.html">About</a></h4>
                    <div class="box-masonry-desription">
                        <p>About BilyAcoustie</p>
                        <p>감성싱어송라이터 빌리어코스티 입니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item 1 END -->
        <!--Item2-->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
            <div class="box-masonry">
                <a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="~/Content/image/Albums.jpg" alt="" class="img-responsive"></a>
                <div class="box-masonry-text">
                    <h4> <a href="detail.html">Albums</a></h4>
                    <div class="box-masonry-desription">
                        <p>Check about his albums.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Item2 END-->
    </div>
</div>